name: Deploy Static HTML to Cloudflare Pages

on:
  push:
    branches:
      - main

jobs:
  publish:
    name: Publish to Cloudflare Pages
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Publish to Cloudflare Pages
        uses: cloudflare/wrangler-action@v3
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          commands: pages deploy . --project-name=${{ github.event.repository.name }} --branch=main
